<% include ./partials/header %>


<div class='container'>
    <div class='post-page'>
        <h1><%= post.title %></h1>
        <img src='<%= post.image %>' class='show-post'><br>
        <span><%= post.created.toDateString() %></span>
        <p><%= post.body %></p>
        <a href='/posts' class='show-back__btn'>Back to Main</a>
        <a href='/posts/<%= post._id %>/edit' class='show-edit__btn'>Edit post</a>
        <form action='/posts/<%= post._id%>?_method=DELETE'  method='POST' >
            <button class='show-delete__btn'>Delete post</button>
        </form>
    </div>






<% include ./partials/footer %>