<% include ../partials/header %>

<div class='container'>
    <h1>Edit post: "<%= post.title %>"</h1>
        <form action='/posts/<%= post._id %>?_method=PUT' method='POST'>
            <label>Post title:</label><br>
            <input type='text' name='post[title]' class='set-width' value='<%= post.title %>'><br>
            <label>Image source:</label><br>
            <input type='text' name='post[image]' class='set-width' value='<%= post.image %>'><br>
            <label>price:</label><br>
            <input type='number' name='post[price]' class='set-width' min='0.01' step='0.01' value='<%= post.price %>'><br>
            <label>Post content:</label><br>
            <textarea name='post[desc]' cols="60" rows="20"><%= post.desc %></textarea><br>
            <br>
            <input type='submit' class='post-submit__btn'>
        </form>

<% include ../partials/footer %>