<% include ../partials/header %>

<div class='container'>
    <h1>Selection of my travel pics</h1>
    <div>
        <a href='/posts/new' class='add-new__btn'>Add new post</a>
    </div>
    <br>
    <hr>
    <div class='main'>
        <% posts.forEach(function(post) { %>
            <div class='main-post'>
                <h2><%= post.title %></h2>
                <img src='<%= post.image %>' >
                <span><%= post.created.toDateString() %></span>
                <p><%= post.body.substring( 0, 100) %>...</p>
                <a href='posts/<%= post._id %>'class='read-more__btn'>Read more</a>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>