<% include ../partials/header %>

<div class='container'>
    <div class='col-md-6'>
        <div class='post-page'>
            <h1><%= post.title %></h1>
            <img src='<%= post.image %>' class='show-post'><br>
            <p><em></em>submitted by: <%= post.author.username %></em></p>
            <span><%= post.created.toDateString() %></span>
            <p><%= post.desc %></p>
            <a href='/posts' class='show-back__btn'>Back to Main</a>
            <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
                <a href='/posts/<%= post._id %>/edit' class='show-edit__btn'>Edit post</a>
                <form action='/posts/<%= post._id %>?_method=DELETE'  method='POST' >
                    <button class='show-delete__btn'>Delete post</button>
                </form>
                <% } %>
        </div>
        <br>
        <hr>
        <h2>Comments:</h2>
        <% post.comments.forEach(function(comment){ %>
            <p>submitted by: <%= comment.author.username %></p>
            <p><%= comment.text %></p>
            <a href='/posts/<%= post._id %>/comments/<%= comment._id %>/edit' class='show-edit__btn'>edit comment</a>
            <form action='/posts/<%= post._id%>/comments/<%= comment._id %>?_method=DELETE' method='POST' class='inline-form' >
                <button class='show-delete__btn'>Delete comment</button>
            </form>
            <hr>
        <% }); %>
        <br>
        <br>
        <a href="/posts/<%= post._id %>/comments/new" class="add-comment__btn">Add New Comment</a>
    </div>
</div>   
<% include ../partials/footer %>